body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.body {
  margin-top: 40%;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
  height: 20px;
  font-size: 1.5rem;
}

select {
	font-weight: 700;
	max-width: 100%;
	box-sizing: border-box;
	margin-left: 0.5rem;
  margin-top: 1.2rem;
  padding-bottom: 30%;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	background-color: yellow;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
